---
import FormattedDate from './FormattedDate.astro';

interface Props {
  post: {
    id: string;
    slug: string;
    body: string;
    collection: "blog";
    data: {
        heroImage?: string | undefined;
        title: string;
        pubDate: Date;
    };
  }
}

const { post } = Astro.props
---

<li class="flex space-x-2 lg:space-x-4">
  <img 
    src={post.data.heroImage}
    alt={post.data.title} 
    class="w-14 h-14 lg:w-20 lg:h-20 object-cover rounded-xl border-4 border-white shadow-md"
  />
  <div class="flex-1">
    <span class="text-xs lg:text-sm text-slate-500">
      <FormattedDate date={post.data.pubDate} />
    </span>
    <a href={`/blog/${post.slug}/`}>
      <h4 class="text-base lg:text-2xl leading-5 lg:leading-7 text-slate-700 font-medium hover:underline">{post.data.title}</h4>
    </a>
  </div>
</li>